<div class="card-trip">
  <div class="card-pictures">
    <div>
      <% if event.cover_img.attached? %>
        <%= cl_image_tag event.cover_img.key, class: "card-cover" %>
      <% else %>
        <img src="https://png.pngtree.com/thumb_back/fw800/background/20191029/pngtree-light-green-color-background-image_320965.jpg">
      <% end %>
    </div>
    <div class="d-flex justify-content-center w-100">
      <% if event.photo.attached? %>
        <%= cl_image_tag event.photo.key, class: "card-avatar" %>
      <% else %>
        <img src="https://i.pinimg.com/236x/f4/49/df/f449dfa7d6c221507c1962f2102d92b2--vector-photo-app-development.jpg" class="card-avatar" />
      <% end %>
    </div>
  </div>
  <div class="card-trip-infos">
    <div class="card-content">
      <h2><%= event.name %></h2>
      <p class="card-description"><%= event.description%></p>
    </div>
  </div>
  <div class="card-features w-100 d-flex"> 
    <%= link_to event_path(event) do %>
      <button class="btn btn-success card-button" type="button">Give</button>
    <% end %>
    <div class="card-loading-bar">
      <%= render "shared/loading_bar", event: event %>
    </div>
  </div>
</div>