<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "Logo.png" %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <div class="nav-truc">
          <li class="nav-item">
            <%= link_to "Explorer", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Créer", "#", class: "nav-link" %>
          </li>
        </div>
        <div>
          <li class="nav-search">
            <form onsubmit="event.preventDefault();" role="search">
            <label for="search">Search for stuff</label>
            <input id="search" type="search" placeholder="Search..." autofocus required />
            <button type="submit">Go</button>    
            </form>
          </li>
        </div>
        <div class="nav-machin">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Dashboard", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Messages", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Log out", "#", class: "nav-link" %>
          </li>
        <% else %>
          <li>
            <%= link_to "Sign in", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
        </div>
      </ul>
    </div>
  </div>
</div>
