<div class="container-navbar">    
  <div class="navbar-tabs">
    <ul>
      <div>
        <li><%= link_to "Assist'Asso", root_path, class: "navbar-lien" %></li>
      </div>
      <div class="nav-button">
        <li><%= link_to "ALL EVENTS", "/events", class: "nav-link" %></li>
        <% if user_signed_in? %>
        <li><%= link_to "DASHBOARD", dashboard_path, class: "nav-link" %></li>
        <li><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %></li>
        <% else %>
        <li><%= link_to "Sign up", new_user_registration_path, class: "nav-link" %></li>
        <li><%= link_to "Login", new_user_session_path, class: "nav-link" %></li>
        <% end %>
      </div>      
    </ul>
  </div>
</div>