<div class="need-new">
  <% @event.needs.each do |need| %>
    <div class="need">
      <div class="d-flex justify-content-between align-items-center">
        <div class="need-category"> 
          <%= need.category %>
        </div>
        <div class="donors">
          <div>Donors :</div>
          <%# <%= need.donations %> %>
        </div>
        <div class="need-name">
          <%= need.name %>
        </div>
        <div class="donation">
          
          <% donation_array = need.donations.map do |donation| %>
          <% donation.quantity %>
          <% end %>
          <%= donation_quantity = donation_array.reduce(0,:+) %>

        </div>
        <p>/</p>
        <div class="quantity">
          <%= need.quantity %>
        </div>
        <div class="event-management">

          <!-- Button trigger modal -->
          <button type="button" class="btn btn-success" style="border-radius: 16px" data-toggle="modal" data-target="#exampleModal">
          ❤️ Give
          </button>

          <%# admin-buttons %>
          <%= link_to "✏️", edit_need_path(need), class: "btn btn-primary" %>
          <%= link_to "❌", need_path(need), method: :delete, class: "btn btn-danger"  %>
        </div>
      </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Nom de l'item</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <%# <div class="modal-body" ; style="text-align: center">
            <p>Quantity</p>
            <input type="number">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" style="border-radius: 16px" >Save changes</button>
          </div> %>
          <%= simple_form_for [need, @donation] do |f| %>
            <%= f.input :quantity %>
            <%= f.button :submit %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <!-- Modal -->
</div>
