<div class="need-new">
  <% @event.needs.each do |need| %>
    <div class="need">
      <div class="d-flex justify-content-between align-items-center">
        <div class="need-category"> 
          <%= need.category %>
        </div>
        <div class="donors">
          <div>Donors :</div>
          <%# <%= need.donations %> %>
        </div>
        <div class="need-name">
          <%= need.name %>
        </div>
        <div class="donation">
          <%# <%= need.donations %> %>
        </div>
        <p>/</p>
        <div class="quantity">
          <%= need.quantity %>
        </div>
        <div class="event-management">
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-success" style="border-radius: 16px" data-toggle="modal" data-target="#exampleModal">
          ❤️ Give
          </button>
          <%= simple_form_for [need, @donation] do |f| %>
            <%= f.input :quantity %>
          <% end %>
          <%= link_to "✏️", edit_need_path(need), class: "btn btn-primary" %>
          <%= link_to "❌", need_path(need), method: :delete, class: "btn btn-danger"  %>
        </div>
      </div>
    </div>
  <% end %>
</div>
