<div class="need-new d-flex" style="margin-left: 56px;">
  <% @event.needs.each do |need| %>


<div class="card-need" style="margin-top: 60px;">

     <div class="need-category" > 
        <% if need.category == "People" %>
          <img style="width: 120px; margin-left: 40px; margin-top: 28px;" src="https://image.flaticon.com/icons/png/512/681/681392.png">
        <% elsif need.category == "Money" %>
          <img style="width: 120px; margin-left: 40px; margin-top: 28px;" src="https://image.flaticon.com/icons/png/512/3135/3135706.png">
        <% elsif need.category == "Food" %>
          <img style="width: 120px; margin-left: 40px; margin-top: 28px;" src="https://image.flaticon.com/icons/png/512/498/498229.png">
        <% elsif need.category == "Furnitures" %>
          <img style="width: 120px; margin-left: 40px; margin-top: 28px;" src="https://image.flaticon.com/icons/png/512/2708/2708109.png">
        <% else  %>
          <%= need.category %>
        <% end %>
      </div>

      <div class="card-need-infos">

        <div class="card-need-border justify-content-center">
          <p> <%= need.name %></p>
        </div>


        <div class="card-need-quantity d-flex justify-content-center">
         
              <% donation_array = need.donations.map do |donation| %>
                <% donation.quantity %>
              <% end %>
          <h2><%= donation_quantity = donation_array.reduce(0,:+) %></h2>
             <h2>/<%= need.quantity %></h2> 
       
        </div>
            <% if donation_quantity < need.quantity %>
            <button id="button-give" type="button" class="all-button" style="border-radius: 16px; margin-left: 51px; margin-top: 8px;" data-toggle="modal" data-target="#exampleModal-<%=need.id%>">GIVE
            </button>
            <% else %>
              <h2 style="color: #fdae8f; margin-left: 71px">Full</h2>
          <% end %>
      </div>
</div>


   
      <div class="d-flex justify-content-between align-items-center" style="margin-top: 10px"></div>
   

    <!-- Modal -->
    <div class="modal fade" id="exampleModal-<%=need.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"> <%= need.name %> </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
              <div id="modal">
                <%= simple_form_for [need, @donation] do |f| %>
                <div class="input-quantity">
                  <%= f.input :quantity %>
                </div>
                <div class="btn-modal">
                  <%= f.button :submit, class:"all-button"%>  
                </div>
              <% end %> 
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

