
<h1 class="title d-flex justify-content-center">DISCOVER ALL THE EVENTS</h1>
<div class="container align-items-left card-home" style="margin-top: -30px">


  <div class="name-category">
    <h2>Environment</h2>
      <div class="card-category d-flex">
        <%= link_to events_path(:category => "Environment") do%>
          <img id="grow" class="icone-category" src="https://image.flaticon.com/icons/png/512/1598/1598196.png">
        <% end %>
      </div>
  </div>

  <div class="name-category">
    <h2>Alimentation</h2>
      <div class="card-category">
        <%= link_to events_path(:category => "Alimentation") do%>
          <img id="vibrate" class="icone-category" src="https://image.flaticon.com/icons/png/512/3050/3050228.png">
        <% end %> 
      </div>
  </div>

  <div class="name-category">
    <h2>Solidarity</h2>
      <div class="card-category">
        <%= link_to events_path(:category => "Solidarity") do%>
          <img id="rotate" class="icone-category" src="https://image.flaticon.com/icons/png/512/3047/3047883.png">
        <% end %>
      </div>
  </div>

  <div class="name-category">
    <h2>Cultural</h2>
      <div class="card-category" >
        <%= link_to events_path(:category => "Cultural") do %>
      <img id="flip" class="icone-category" src="https://image.flaticon.com/icons/png/512/1344/1344461.png">
        <% end %>
      </div>
  </div>
 </div>

  
<%= form_tag events_path, class:"d-flex justify-content-center", method: :get do %>
  <div class="search d-flex">
    <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Find a Event" %>
    <div class="search-btn"><%= submit_tag "Search", class: "btn btn-success" %></div>
  </div>
<% end %>
  
   

<div class="d-flex">
  <div class="col-8">
  <% @events.each do |event| %>
    <%= render "shared/cards", event: event %>
    <% end %>
  </div>
    <%= render "shared/map" %>
</div>

 
