
<h1 class="title d-flex justify-content-center">DISCOVER ALL THE EVENTS</h1>
<div class="container-index">
  <div class="row" style="margin-top: -70px">
    <div class="col-3">
      <div class="name-category">
        <h3>Solidarity</h3>
        <div class="card-category">
          <%= link_to events_path(:category => "Solidarity") do%>
            <img id="rotate" class="icone-category" src="https://image.flaticon.com/icons/png/512/3047/3047883.png">
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="name-category">
        <h3>Environment</h3>
        <div class="card-category d-flex">
          <%= link_to events_path(:category => "Environment") do%>
            <img id="grow" class="icone-category" src="https://image.flaticon.com/icons/png/512/1598/1598196.png">
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="name-category">
        <h3>Alimentation</h3>
        <div class="card-category">
          <%= link_to events_path(:category => "Alimentation") do%>
            <img id="vibrate" class="icone-category" src="https://image.flaticon.com/icons/png/512/3050/3050228.png">
          <% end %> 
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="name-category">
        <h3>Cultural</h3>
        <div class="card-category" >
          <%= link_to events_path(:category => "Cultural") do %>
            <img id="flip" class="icone-category" src="https://image.flaticon.com/icons/png/512/1344/1344461.png">
          <% end %>
        </div>
      </div>   
    </div>
  </div>

 
  
  <div class="search-box">
    <%= form_tag events_path, method: :get do %>
      <div class="search">
        <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Search an event !" %>
          <div class="search-button">
            <%= submit_tag "Search", class: "all-button" %>
          </div>
      </div>
    <% end %>
  </div>
  
    


  <div class="d-flex">
    <div class="display-grid w-50 mr-3 ml-5">
          <% @events.each do |event| %>
            <%= render "shared/cards", event: event %>
          <% end %>
    </div>

    <div class="display-all d-flex justify-content-center w-50">
      <%= render "shared/map" %>
    </div>
  </div>
  
</div>
