
<div class="container align-items-left card-home">
  <div class="card-category" style="background: green">
    <%= link_to "Environment" ,events_path(:category => "Environement"), class: "btn-event-category" %>
  </div>
  

  <div class="card-category" style="background: orange">
    <%= link_to "Alimentation" ,events_path(:category => "Environment"), class: "btn-event-category"  %>
  </div>

  <div class="card-category" style="background: blue">
    <%= link_to "Solidarity" ,events_path(:category => "Environment"), class: "btn-event-category"  %>
  </div>

  <div class="card-category" style="background: purple">
    <%= link_to "Cultural" ,events_path(:category => "Environment"), class: "btn-event-category"  %>
  </div>
</div>

<div class="d-flex">
  <div class="col-8">
  <% @events.each do |event| %>
    <%= render "shared/cards", event: event %>
    <% end %>
  </div>
    <%= render "shared/map" %>
</div>

 
