<%= render 'shared/event_banner' %>

<div class="d-flex justify-content-around">  
  <div class="infos" style="margin-left: 60px;">   
      <div style="margin-top: 90px; margin-left: 80px;">
       <%= @event.name %>
       <%= @event.description %> 
    </div>
        <%= render 'shared/need' %>    
        <%= link_to "➕ Add a need", new_event_need_path(@event), class: "btn btn-primary" %>  
  </div>   
    <div id="map"
     style="width: 30%; height: 355px; position: sticky; top: 0; margin-top: 180px; margin-right: 10px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
</div>



    
