<%= render 'shared/event_banner' %>
<%= render 'shared/avatar' %>

<div class="d-flex justify-content-around">
  <div class="infos">
    <div class="event-management">
      <%= link_to "Back", events_path, class: "btn btn-info"  %>
      <%= link_to "Edit", edit_event_path(@event), class: "btn btn-primary" %>
      <%= link_to "Delete", event_path, method: :delete, class: "btn btn-danger"  %>
    </div>
    <h1><%= @event.name %></h1>
    <p><%= @event.description %></p>
    <%= render 'shared/need' %>
  </div>
    <%= render "shared/map" %> 
</div>
