<%= render 'shared/event_banner' %>

<div class="d-flex justify-content-around">
  <div class="infos">
    <div class="event-management">
      <%= link_to "Back to all events", events_path, class: "btn btn-info"  %>
      <%= link_to "Edit your event", edit_event_path(@event), class: "btn btn-primary" %>
      <%= link_to "Delete your event", event_path, method: :delete, class: "btn btn-danger"  %>
    </div>
    <h1><%= @event.name %></h1>
    <p><%= @event.description %></p>
    <%= render 'shared/need' %>
    <%= link_to "Add a need", new_event_need_path(@event), class: "btn btn-primary" %>
    <h1 style="margin: 20px"><%= @event.name %></h1>
    <p><%= @event.description %></p>
    <%= render 'shared/need' %>
          <%= link_to "SEE ALL EVENTS", events_path, class: "btn btn-ghost"  %>

    <!-- Button trigger modal -->
<button type="button" class="btn btn-success" style="border-radius: 16px" data-toggle="modal" data-target="#exampleModal">
  Go
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Category</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" ; style="text-align: center">
        <p>Quantity</p>
        <input type="number">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" style="border-radius: 16px" >Save changes</button>
      </div>
    </div>
  </div>
</div>
  </div>
    <%= render "shared/map" %> 
</div>
