<div class="banner" style="background-image: url( <%= image_url("home_banner.jpg") %> );"> 
  <div class="container">

  </div>
</div>

<div class="container card-home">
  <div class="row">
    <div class="col-3">
      <div class="name-category">
        <h2>Environment</h2>
        <div class="card-category d-flex">
          <%= link_to events_path(:category => "Environment") do%>
            <img id="grow" class="icone-category" src="https://image.flaticon.com/icons/png/512/1598/1598196.png">
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-3">
        <div class="name-category">
        <h2>Alimentation</h2>
        <div class="card-category">
          <%= link_to events_path(:category => "Alimentation") do%>
            <img id="vibrate" class="icone-category" src="https://image.flaticon.com/icons/png/512/3050/3050228.png">
          <% end %> 
        </div>
      </div>
    </div>

    <div class="col-3">
      <div class="name-category">
        <h2>Solidarity</h2>
        <div class="card-category">
          <%= link_to events_path(:category => "Solidarity") do%>
            <img id="rotate" class="icone-category" src="https://image.flaticon.com/icons/png/512/3047/3047883.png">
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-3">
      <div class="name-category">
        <h2>Cultural</h2>
        <div class="card-category" >
          <%= link_to events_path(:category => "Cultural") do %>
            <img id="flip" class="icone-category" src="https://image.flaticon.com/icons/png/512/1344/1344461.png">
          <% end %>
        </div>
      </div>   
    </div>
  </div>
</div>


 






