<div class="banner" style="background-image: url( <%= image_url("home_banner.jpg") %> );"> 
  <div class="container">
  <a></a><%= link_to events_path do %>
    <div class="card-product">
      <div class="card-product-infos">
        <h2>HELP AN ASSOCIATION</h2>
        <p>FIND AN EVENT ! TOGETHER WE CAN  <strong>HELP</strong> !</p>
      </div>
    </div>
    <% end %></a>
  </div>

</div>



<div class="container">

  <div class="name-category" style="margin-left: 200px">
      <div class="card-category">
        <%= link_to events_path(:category => "Environment") do%>
          <img id="grow" class="icone-category" src="https://image.flaticon.com/icons/png/512/1598/1598196.png">
        <% end %>
      </div>
        <div>
      <h2>Environment</h2>
      <p style="width: 400px"> The climate is changing more and more quickly and associations are mobilizing to advance locally</p>
      </div>
  </div>

  <div class="name-category" style="margin-left: 200px">
      <div class="card-category">
        <%= link_to events_path(:category => "Alimentation") do%>
          <img id="vibrate" class="icone-category" src="https://image.flaticon.com/icons/png/512/3050/3050228.png">
        <% end %> 
      </div>
          <div>
      <h2>Alimentation</h2>
      <p style="width: 400px"> People are in need. Associations are mobilizing to collect as much food as possible and share with the most disadvantaged</p>
      </div>
  </div>

  <div class="name-category" style="margin-left: 200px">
      <div class="card-category">
        <%= link_to events_path(:category => "Solidarity") do%>
          <img id="rotate" class="icone-category" src="https://image.flaticon.com/icons/png/512/3047/3047883.png">
        <% end %>
      </div>
         <div>
      <h2>Solidarity</h2>
      <p style="width: 400px;"> Action, especially among individuals with a common interest; mutual support within a group.
      Find the events and Help the others !</p>
      </div>
  </div>

  <div class="name-category" style="margin-left: 200px">
    
      <div class="card-category" >
        <%= link_to events_path(:category => "Cultural") do %>
      <img id="flip" class="icone-category" src="https://image.flaticon.com/icons/png/512/1344/1344461.png">
        <% end %>
      </div>
      <div>
      <h2>Cultural</h2>
      <p style="width: 400px"> Education and culture bear a great deal of responsibility for future success and every donation can help.</p>
      </div>
     
  </div>   

</div>


 






