<h1>DASHBOARD <img src="https://image.flaticon.com/icons/png/512/1548/1548723.png" style="width: 50px;"></h1> 

___________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________</p>
<%= link_to "CREATE +", new_event_path, class: "btn btn-ghost" %>
<div class="dashboard-container" style="margin-top: 40px; margin-left: 40px;">


  <div class="infos-dashboard">
    <img class="icone-contact" src="https://image.flaticon.com/icons/png/512/3745/3745477.png" style="width: 50px;">
      <h3><%= @user.first_name %></h3> 
      <h3><%= @user.last_name %></h3>
      <h3><%= @user.email %></h3>
      <h3><%= @user.address %></h3>
      <h3><%= @user.city %></h3>
  </div>
  <div class="d-flex flex-column">
      <nav class="nav nav-tabs">
      <% if current_user.events.size > 0 %>
        <a class="nav-item nav-link active" href="#p1" data-toggle="tab">MY EVENT</a>
      <% end %>
        <a class="nav-item nav-link" href="#p2" data-toggle="tab">WISHLIST EVENTS</a>
        <%# <a class="nav-item nav-link" href="#p3" data-toggle="tab">Messages</a> %>
      </nav>
    <div class="tab-content">
      <div class="tab-pane fade show active" id="p1">
        <% @events.each do |event| %>
          <%= render "shared/cards", event: event %>
        <% end  %>    
        <img src="https://image.flaticon.com/icons/png/512/921/921591.png" style="width: 80px; margin: 20px; margin-left: 260px;">STATISTICS 

        
      </div>
      <div class="tab-pane fade" id="p2">
        <div class="col-8">
        <% @events.each do |event| %>
          <%= render "shared/cards", event: event %>
        <% end  %>
        </div>
      </div>
      <%# <div class="tab-pane fade" id="p3">Panneau 3</div>
    </div> %>
  </div>
</div>


