<div>
  <h1 id="h1-dashboard">DASHBOARD <img src="https://image.flaticon.com/icons/png/512/1548/1548723.png" style="width: 50px;"></h1> 
<div class="dashboard-container" style="margin-top: 40px; margin-left: 40px;">


  <div class="infos-dashboard">
    <img class="icone-contact" src="https://image.flaticon.com/icons/png/512/3745/3745477.png" style="width: 50px;">
      <h3 class="h3-dashboard"><%= @user.first_name %></h3> 
      <h3 class="h3-dashboard"><%= @user.last_name %></h3>
      <h3 class="h3-dashboard"><%= @user.email %></h3>
      <h3 class="h3-dashboard"><%= @user.address %></h3>
      <h3 class="h3-dashboard"><%= @user.city %></h3>
      <div style="margin-top: 100px;x">
          <%= link_to "CREATE +", new_event_path, class: "btn btn-ghost" %>
      </div>

  </div>

  <div class="d-flex flex-column">
      <nav class="nav nav-tabs">
      <% if current_user.events.size > 0 %>
        <a class="nav-item nav-link active" href="#p1" data-toggle="tab">MY EVENT</a>
      <% end %>
        <%# <a class="nav-item nav-link" href="#p2" data-toggle="tab">WISHLIST EVENTS</a> %>
      </nav>
    <div class="tab-content">
      <div class="tab-pane fade show active" id="p1">
        <% @events.each do |event| %>
          <%= render "shared/cards", event: event %>
        <% end  %>    
        <div class="d-flex">
          <div class="progression d-flex">
            <img src="https://image.flaticon.com/icons/png/512/921/921591.png" style="width: 80px; margin-left:30px;"> <p style="margin-left: 20px; margin-top: 30px;">PROGRESSION</p>
          </div>
            <div class="progress" style="width: 700px; height: 30px; background-color: white; border-radius: 20px; border: 1px solid; border-color:#000000; margin-left: 100px; margin-top: 30px">
              <div class="progress-bar bg-success" style="width: <%= @percent %>%;" role="progressbar" aria-valuenow="<%= @percent %>" aria-valuemin="0" aria-valuemax="100"> <%= @percent %> %</div> 
            </div>
        </div>
      </div>
      <div class="tab-pane fade" id="p2">
        <div class="col-8">
        <% @events.each do |event| %>
          <%= render "shared/cards", event: event %>
        <% end  %>
        </div>
      </div>
  </div>
</div>
</div>